<header>
    <!-- If theres user(cookie), display the welcome message for that user, otherwise show login/register -->
    <%if(user) { %>
      <div class = "welcome-user">
          <p style="display:inline"> Welcome! <%=user.email%> </p>
          <form action="/logout" method="POST" style="display: inline"><button type="submit" class="btn btn-outline-danger">Logout</button></form>
        </div>
    <% } else {%>
      <div class = "login-register">
          <button type="button"  onclick="location.href='/login';" class="btn btn-outline-success btn-lg">Login</button>
          <button type="button"  onclick="location.href='/register';" class="btn btn-outline-primary btn-lg">Register</button>
        </div>
     <% } %>  
  </header>