<header>
  <div class="login">
    <%if(!username) {%>
    <form action="/login" method="POST"  style=" display:inline!important;>
      <label for="longURL">Username:</label>
      <input id="usernamel" type="text" name="username" placeholder="" style="width: 140px;">
      <input type="submit" value="Login">
    </form>
    <% } else{ %>
      
          <p id="username" >Welcome! <%=username%></p>
          <form id ="logout" action="/logout" method="post" style=" display:inline!important;">
            <button type="submit" name="logout"  class="badge badge-pill badge-primary">Logout</button>
          </form>
     

    <% }%>
    </div>
</header>