<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/main.css">
  
</head>
<body>
  <% include partials/_header %>
  <%if(user) {%>
  <div class = "urls">
    <ul>
      <%Object.keys(urls).forEach(function(urlID){ %>
       <% if(urls.urlOwner === user.id) { %>
        <li> <%= urlID %> - <%= urls[urlID][urlOwner] %>  
          <button class="badge badge-pill badge-warning"><a style="text-decoration: none; color: white" href="urls/<%= urlID %>">Edit</a></button>
          <form action="/urls/<%= urlID %>/delete" method="post" style=" display:inline!important;">
            <button type="submit" name="delete"  class="badge badge-pill badge-danger">Delete</button>
          </form>
      </li>
        <%}%>
       <%}); %> 
    </ul>
  </div>
  <%}%>
    <button  type="button" onclick="location.href='/urls/new';" class="btn btn-add btn-success">Tiny Me!</button>
</body>
</html>

